<button>List movies</button> <span id="total"></span>

<form>
    <input type="text" name="title">

    <button id="create-movie">Create movie</button>
</form>

<ol id="movies"></ol>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="javascripts/script.js"></script>